nifi-templates/answer-dlq.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>46ab6e3d-0193-1000-a9f1-5ffc9075d5d9</groupId>
    <name>answer-dlq</name>
    <snippet>
        <connections>
            <id>02818f0f-243f-30a6-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>e9dbb41d-d11c-3e90-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>found</selectedRelationships>
            <source>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>d381e5ea-4ce3-3940-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>0dfc6b0c-de6c-3fb7-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>d381e5ea-4ce3-3940-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>c25f577e-a2a7-35cb-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>18984f13-7737-3cf9-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>c1958bcf-ae9b-38e7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>parse.failure</selectedRelationships>
            <source>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>34a4af34-64c1-39de-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2301f95e-eafe-3899-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>4da1a4c4-82d2-338b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>f6c970a2-a10e-355d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>26b6d527-a49b-3b91-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1808.0</x>
                <y>1320.0</y>
            </bends>
            <destination>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>c1958bcf-ae9b-38e7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>errors</selectedRelationships>
            <source>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>e9dbb41d-d11c-3e90-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>33651761-0eb9-3593-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>c1958bcf-ae9b-38e7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>parse.failure</selectedRelationships>
            <source>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>f6c970a2-a10e-355d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>3df0f014-4dfa-3f57-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>496.0</x>
                <y>1424.0</y>
            </bends>
            <destination>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>c1958bcf-ae9b-38e7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>errors</selectedRelationships>
            <source>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>d4e2f15a-cbb3-33bd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>5c1316af-d86e-355f-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>488.0</x>
                <y>1280.0</y>
            </bends>
            <destination>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>c1958bcf-ae9b-38e7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>errors</selectedRelationships>
            <source>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>4da1a4c4-82d2-338b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7192b7ac-5edf-311d-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>c1958bcf-ae9b-38e7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>02e147a0-506f-3f28-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7746b75a-4638-3835-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>2088.0</x>
                <y>72.0</y>
            </bends>
            <destination>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>e9dbb41d-d11c-3e90-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>not found</selectedRelationships>
            <source>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>d381e5ea-4ce3-3940-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7e99794b-d1bd-30ef-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>c1958bcf-ae9b-38e7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>4da1a4c4-82d2-338b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9ffe26a7-f3fb-3d03-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>d4e2f15a-cbb3-33bd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>cf9b2954-4561-3051-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a5cfa501-9541-30b3-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>c1958bcf-ae9b-38e7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>e9dbb41d-d11c-3e90-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b39a831c-64df-3ac5-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>c1958bcf-ae9b-38e7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>d4e2f15a-cbb3-33bd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d8d70bdb-0f16-3c37-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>02e147a0-506f-3f28-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>34a4af34-64c1-39de-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>da698311-9641-39ea-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>c1958bcf-ae9b-38e7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>parse.failure</selectedRelationships>
            <source>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>c25f577e-a2a7-35cb-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e36ff13c-3ea7-33dd-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1808.0</x>
                <y>1208.0</y>
            </bends>
            <destination>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>c1958bcf-ae9b-38e7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>errors</selectedRelationships>
            <source>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>02e147a0-506f-3f28-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>efdeb999-3301-3f95-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>c1958bcf-ae9b-38e7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>parse.failure</selectedRelationships>
            <source>
                <groupId>0ee1b75a-6a55-3099-0000-000000000000</groupId>
                <id>cf9b2954-4561-3051-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>725e8c3d-53ce-306d-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>Allow Scientific Notation</key>
                    <value>
                        <name>Allow Scientific Notation</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>Allow Scientific Notation</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>79de33e9-84e2-3ba2-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-elasticsearch-client-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>el-cs-http-hosts</key>
                    <value>
                        <name>el-cs-http-hosts</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-path-prefix</key>
                    <value>
                        <name>el-cs-path-prefix</name>
                    </value>
                </entry>
                <entry>
                    <key>authorization-scheme</key>
                    <value>
                        <name>authorization-scheme</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-username</key>
                    <value>
                        <dependencies>
                            <dependentValues>BASIC</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>el-cs-username</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-password</key>
                    <value>
                        <dependencies>
                            <dependentValues>BASIC</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>el-cs-password</name>
                    </value>
                </entry>
                <entry>
                    <key>api-key-id</key>
                    <value>
                        <dependencies>
                            <dependentValues>API_KEY</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>api-key-id</name>
                    </value>
                </entry>
                <entry>
                    <key>api-key</key>
                    <value>
                        <dependencies>
                            <dependentValues>API_KEY</dependentValues>
                            <propertyName>authorization-scheme</propertyName>
                        </dependencies>
                        <name>api-key</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-ssl-context-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>el-cs-ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                        <name>proxy-configuration-service</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-connect-timeout</key>
                    <value>
                        <name>el-cs-connect-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-socket-timeout</key>
                    <value>
                        <name>el-cs-socket-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-retry-timeout</key>
                    <value>
                        <name>el-cs-retry-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-charset</key>
                    <value>
                        <name>el-cs-charset</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-suppress-nulls</key>
                    <value>
                        <name>el-cs-suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-enable-compression</key>
                    <value>
                        <name>el-cs-enable-compression</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-send-meta-header</key>
                    <value>
                        <name>el-cs-send-meta-header</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-strict-deprecation</key>
                    <value>
                        <name>el-cs-strict-deprecation</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-node-selector</key>
                    <value>
                        <name>el-cs-node-selector</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniff-cluster-nodes</key>
                    <value>
                        <name>el-cs-sniff-cluster-nodes</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-interval</key>
                    <value>
                        <dependencies>
                            <dependentValues>true</dependentValues>
                            <propertyName>el-cs-sniff-cluster-nodes</propertyName>
                        </dependencies>
                        <name>el-cs-sniffer-interval</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-request-timeout</key>
                    <value>
                        <dependencies>
                            <dependentValues>true</dependentValues>
                            <propertyName>el-cs-sniff-cluster-nodes</propertyName>
                        </dependencies>
                        <name>el-cs-sniffer-request-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniff-failure</key>
                    <value>
                        <dependencies>
                            <dependentValues>true</dependentValues>
                            <propertyName>el-cs-sniff-cluster-nodes</propertyName>
                        </dependencies>
                        <name>el-cs-sniff-failure</name>
                    </value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-failure-delay</key>
                    <value>
                        <dependencies>
                            <dependentValues>true</dependentValues>
                            <propertyName>el-cs-sniff-failure</propertyName>
                        </dependencies>
                        <name>el-cs-sniffer-failure-delay</name>
                    </value>
                </entry>
            </descriptors>
            <name>ElasticSearchClientServiceImpl</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>el-cs-http-hosts</key>
                    <value>https://opensearch-cluster-master:9200</value>
                </entry>
                <entry>
                    <key>el-cs-path-prefix</key>
                </entry>
                <entry>
                    <key>authorization-scheme</key>
                    <value>BASIC</value>
                </entry>
                <entry>
                    <key>el-cs-username</key>
                    <value>admin</value>
                </entry>
                <entry>
                    <key>el-cs-password</key>
                </entry>
                <entry>
                    <key>api-key-id</key>
                </entry>
                <entry>
                    <key>api-key</key>
                </entry>
                <entry>
                    <key>el-cs-ssl-context-service</key>
                    <value>bef6a216-1ac0-3ef6-0000-000000000000</value>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                </entry>
                <entry>
                    <key>el-cs-connect-timeout</key>
                    <value>5000</value>
                </entry>
                <entry>
                    <key>el-cs-socket-timeout</key>
                    <value>60000</value>
                </entry>
                <entry>
                    <key>el-cs-retry-timeout</key>
                    <value>60000</value>
                </entry>
                <entry>
                    <key>el-cs-charset</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>el-cs-suppress-nulls</key>
                    <value>always-suppress</value>
                </entry>
                <entry>
                    <key>el-cs-enable-compression</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>el-cs-send-meta-header</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>el-cs-strict-deprecation</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>el-cs-node-selector</key>
                    <value>ANY</value>
                </entry>
                <entry>
                    <key>el-cs-sniff-cluster-nodes</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-interval</key>
                    <value>5 mins</value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-request-timeout</key>
                    <value>1 sec</value>
                </entry>
                <entry>
                    <key>el-cs-sniff-failure</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>el-cs-sniffer-failure-delay</key>
                    <value>1 min</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl</type>
        </controllerServices>
        <controllerServices>
            <id>bef6a216-1ac0-3ef6-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-ssl-context-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Keystore Filename</key>
                    <value>
                        <name>Keystore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                    <value>
                        <name>Keystore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>key-password</key>
                    <value>
                        <name>key-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>
                        <name>Keystore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>
                        <name>Truststore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                    <value>
                        <name>Truststore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>
                        <name>Truststore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>
                        <name>SSL Protocol</name>
                    </value>
                </entry>
            </descriptors>
            <name>StandardRestrictedSSLContextService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Keystore Filename</key>
                    <value>keytool/keystore.p12</value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                </entry>
                <entry>
                    <key>key-password</key>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>PKCS12</value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>keytool/truststore.p12</value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>PKCS12</value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>TLS</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.ssl.StandardRestrictedSSLContextService</type>
        </controllerServices>
        <controllerServices>
            <id>d62a105e-57aa-32cd-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>
                        <name>starting-field-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>starting-field-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>schema-text-property</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>schema-application-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>Max String Length</key>
                    <value>
                        <name>Max String Length</name>
                    </value>
                </entry>
                <entry>
                    <key>Allow Comments</key>
                    <value>
                        <name>Allow Comments</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>ROOT_NODE</value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>SELECTED_PART</value>
                </entry>
                <entry>
                    <key>Max String Length</key>
                    <value>20 MB</value>
                </entry>
                <entry>
                    <key>Allow Comments</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <processors>
            <id>02e147a0-506f-3f28-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <position>
                <x>1904.0</x>
                <y>296.0</y>
            </position>
            <bundle>
                <artifact>nifi-elasticsearch-restapi-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>put-es-record-index-op</key>
                        <value>
                            <name>put-es-record-index-op</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>
                            <name>el-rest-fetch-index</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                        <value>
                            <name>el-rest-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp</key>
                        <value>
                            <name>put-es-record-at-timestamp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.elasticsearch.ElasticSearchClientService</identifiesControllerService>
                            <name>el-rest-client-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>put-es-record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-batch-size</key>
                        <value>
                            <name>put-es-record-batch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-id-path</key>
                        <value>
                            <name>put-es-record-id-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-id-field</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-id-path</propertyName>
                            </dependencies>
                            <name>put-es-record-retain-id-field</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-op-path</key>
                        <value>
                            <name>put-es-record-index-op-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-record-path</key>
                        <value>
                            <name>put-es-record-index-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-type-record-path</key>
                        <value>
                            <name>put-es-record-type-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-path</key>
                        <value>
                            <name>put-es-record-at-timestamp-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-at-timestamp-field</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-at-timestamp-path</propertyName>
                            </dependencies>
                            <name>put-es-record-retain-at-timestamp-field</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-script-path</key>
                        <value>
                            <name>put-es-record-script-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-scripted-upsert-path</key>
                        <value>
                            <name>put-es-record-scripted-upsert-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-dynamic-templates-path</key>
                        <value>
                            <name>put-es-record-dynamic-templates-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-date-format</key>
                        <value>
                            <name>put-es-record-at-timestamp-date-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-time-format</key>
                        <value>
                            <name>put-es-record-at-timestamp-time-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-timestamp-format</key>
                        <value>
                            <name>put-es-record-at-timestamp-timestamp-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-log-error-responses</key>
                        <value>
                            <name>put-es-record-log-error-responses</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-output-error-responses</key>
                        <value>
                            <name>put-es-output-error-responses</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-error-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>put-es-record-error-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-not_found-is-error</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-error-writer</propertyName>
                            </dependencies>
                            <name>put-es-record-not_found-is-error</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-bulk-error-groups</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-error-writer</propertyName>
                            </dependencies>
                            <name>put-es-record-bulk-error-groups</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>put-es-record-index-op</key>
                        <value>index</value>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>prometheus</value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp</key>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>79de33e9-84e2-3ba2-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-reader</key>
                        <value>d62a105e-57aa-32cd-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-batch-size</key>
                        <value>100000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-id-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-id-field</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-op-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-index-record-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-type-record-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-at-timestamp-field</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-record-script-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-scripted-upsert-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-dynamic-templates-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-date-format</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-time-format</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-timestamp-format</key>
                    </entry>
                    <entry>
                        <key>put-es-record-log-error-responses</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-output-error-responses</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-record-error-writer</key>
                    </entry>
                    <entry>
                        <key>put-es-record-not_found-is-error</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>put-es-record-bulk-error-groups</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retriedRelationships>retry</retriedRelationships>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutElasticsearchRecord</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>errors</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
                <retry>true</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>successful_records</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchRecord</type>
        </processors>
        <processors>
            <id>34a4af34-64c1-39de-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <position>
                <x>2000.0</x>
                <y>640.0</y>
            </position>
            <bundle>
                <artifact>nifi-kafka-2-6-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>
                            <name>topic_type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>
                            <name>group.id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>output-strategy</key>
                        <value>
                            <name>output-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                        <value>
                            <dependencies>
<dependentValues>USE_VALUE</dependentValues>
<propertyName>output-strategy</propertyName>
                            </dependencies>
                            <name>header-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <dependencies>
<dependentValues>USE_VALUE</dependentValues>
<propertyName>output-strategy</propertyName>
                            </dependencies>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-format</key>
                        <value>
                            <dependencies>
<dependentValues>USE_WRAPPER</dependentValues>
<propertyName>output-strategy</propertyName>
                            </dependencies>
                            <name>key-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-record-reader</key>
                        <value>
                            <dependencies>
<dependentValues>record</dependentValues>
<propertyName>key-format</propertyName>
                            </dependencies>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>key-record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Commit Offsets</key>
                        <value>
                            <name>Commit Offsets</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>Commit Offsets</propertyName>
                            </dependencies>
                            <name>max-uncommit-offset-wait</name>
                        </value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>
                            <name>honor-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
                            <name>kerberos-user-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <dependencies>
<dependentValues>PLAIN</dependentValues>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <dependencies>
<dependentValues>PLAIN</dependentValues>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <dependencies>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>aws.profile.name</key>
                        <value>
                            <dependencies>
<dependentValues>AWS_MSK_IAM</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>aws.profile.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>
                            <name>separate-by-key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>
                            <name>auto.offset.reset</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>
                            <name>max.poll.records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>kafka:9092</value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>prometheus</value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>names</value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>d62a105e-57aa-32cd-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>725e8c3d-53ce-306d-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>nifi</value>
                    </entry>
                    <entry>
                        <key>output-strategy</key>
                        <value>USE_VALUE</value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>key-format</key>
                        <value>byte-array</value>
                    </entry>
                    <entry>
                        <key>key-record-reader</key>
                    </entry>
                    <entry>
                        <key>Commit Offsets</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>1 secs</value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>SASL_PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>PLAIN</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>user1</value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>aws.profile.name</key>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>latest</value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>10000</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>60 secs</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConsumeKafkaRecord_2_6</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>parse.failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6</type>
        </processors>
        <processors>
            <id>4da1a4c4-82d2-338b-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <position>
                <x>24.0</x>
                <y>888.0</y>
            </position>
            <bundle>
                <artifact>nifi-elasticsearch-restapi-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>put-es-record-index-op</key>
                        <value>
                            <name>put-es-record-index-op</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>
                            <name>el-rest-fetch-index</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                        <value>
                            <name>el-rest-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp</key>
                        <value>
                            <name>put-es-record-at-timestamp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.elasticsearch.ElasticSearchClientService</identifiesControllerService>
                            <name>el-rest-client-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>put-es-record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-batch-size</key>
                        <value>
                            <name>put-es-record-batch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-id-path</key>
                        <value>
                            <name>put-es-record-id-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-id-field</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-id-path</propertyName>
                            </dependencies>
                            <name>put-es-record-retain-id-field</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-op-path</key>
                        <value>
                            <name>put-es-record-index-op-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-record-path</key>
                        <value>
                            <name>put-es-record-index-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-type-record-path</key>
                        <value>
                            <name>put-es-record-type-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-path</key>
                        <value>
                            <name>put-es-record-at-timestamp-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-at-timestamp-field</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-at-timestamp-path</propertyName>
                            </dependencies>
                            <name>put-es-record-retain-at-timestamp-field</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-script-path</key>
                        <value>
                            <name>put-es-record-script-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-scripted-upsert-path</key>
                        <value>
                            <name>put-es-record-scripted-upsert-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-dynamic-templates-path</key>
                        <value>
                            <name>put-es-record-dynamic-templates-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-date-format</key>
                        <value>
                            <name>put-es-record-at-timestamp-date-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-time-format</key>
                        <value>
                            <name>put-es-record-at-timestamp-time-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-timestamp-format</key>
                        <value>
                            <name>put-es-record-at-timestamp-timestamp-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-log-error-responses</key>
                        <value>
                            <name>put-es-record-log-error-responses</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-output-error-responses</key>
                        <value>
                            <name>put-es-output-error-responses</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-error-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>put-es-record-error-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-not_found-is-error</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-error-writer</propertyName>
                            </dependencies>
                            <name>put-es-record-not_found-is-error</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-bulk-error-groups</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-error-writer</propertyName>
                            </dependencies>
                            <name>put-es-record-bulk-error-groups</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>put-es-record-index-op</key>
                        <value>index</value>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>filebeat</value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp</key>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>79de33e9-84e2-3ba2-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-reader</key>
                        <value>d62a105e-57aa-32cd-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-batch-size</key>
                        <value>100000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-id-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-id-field</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-op-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-index-record-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-type-record-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-at-timestamp-field</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-record-script-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-scripted-upsert-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-dynamic-templates-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-date-format</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-time-format</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-timestamp-format</key>
                    </entry>
                    <entry>
                        <key>put-es-record-log-error-responses</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-output-error-responses</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-record-error-writer</key>
                    </entry>
                    <entry>
                        <key>put-es-record-not_found-is-error</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>put-es-record-bulk-error-groups</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retriedRelationships>retry</retriedRelationships>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutElasticsearchRecord</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>errors</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
                <retry>true</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>successful_records</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchRecord</type>
        </processors>
        <processors>
            <id>c1958bcf-ae9b-38e7-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <position>
                <x>1024.0</x>
                <y>1384.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Directory</key>
                        <value>/opt/nifi/nifi-current/state/dlq</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>fail</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutFile</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
            <id>c25f577e-a2a7-35cb-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <position>
                <x>984.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-kafka-2-6-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>
                            <name>topic_type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>
                            <name>group.id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>output-strategy</key>
                        <value>
                            <name>output-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                        <value>
                            <dependencies>
<dependentValues>USE_VALUE</dependentValues>
<propertyName>output-strategy</propertyName>
                            </dependencies>
                            <name>header-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <dependencies>
<dependentValues>USE_VALUE</dependentValues>
<propertyName>output-strategy</propertyName>
                            </dependencies>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-format</key>
                        <value>
                            <dependencies>
<dependentValues>USE_WRAPPER</dependentValues>
<propertyName>output-strategy</propertyName>
                            </dependencies>
                            <name>key-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-record-reader</key>
                        <value>
                            <dependencies>
<dependentValues>record</dependentValues>
<propertyName>key-format</propertyName>
                            </dependencies>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>key-record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Commit Offsets</key>
                        <value>
                            <name>Commit Offsets</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>Commit Offsets</propertyName>
                            </dependencies>
                            <name>max-uncommit-offset-wait</name>
                        </value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>
                            <name>honor-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
                            <name>kerberos-user-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <dependencies>
<dependentValues>PLAIN</dependentValues>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <dependencies>
<dependentValues>PLAIN</dependentValues>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <dependencies>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>aws.profile.name</key>
                        <value>
                            <dependencies>
<dependentValues>AWS_MSK_IAM</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>aws.profile.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>
                            <name>separate-by-key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>
                            <name>auto.offset.reset</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>
                            <name>max.poll.records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>kafka:9092</value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>packetbeat</value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>names</value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>d62a105e-57aa-32cd-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>725e8c3d-53ce-306d-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>nifi</value>
                    </entry>
                    <entry>
                        <key>output-strategy</key>
                        <value>USE_VALUE</value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>key-format</key>
                        <value>byte-array</value>
                    </entry>
                    <entry>
                        <key>key-record-reader</key>
                    </entry>
                    <entry>
                        <key>Commit Offsets</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>1 secs</value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>SASL_PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>PLAIN</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>user1</value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>aws.profile.name</key>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>latest</value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>10000</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>60 secs</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConsumeKafkaRecord_2_6</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>parse.failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6</type>
        </processors>
        <processors>
            <id>cf9b2954-4561-3051-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <position>
                <x>736.0</x>
                <y>256.0</y>
            </position>
            <bundle>
                <artifact>nifi-kafka-2-6-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>
                            <name>topic_type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>
                            <name>group.id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>output-strategy</key>
                        <value>
                            <name>output-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                        <value>
                            <dependencies>
<dependentValues>USE_VALUE</dependentValues>
<propertyName>output-strategy</propertyName>
                            </dependencies>
                            <name>header-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <dependencies>
<dependentValues>USE_VALUE</dependentValues>
<propertyName>output-strategy</propertyName>
                            </dependencies>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-format</key>
                        <value>
                            <dependencies>
<dependentValues>USE_WRAPPER</dependentValues>
<propertyName>output-strategy</propertyName>
                            </dependencies>
                            <name>key-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-record-reader</key>
                        <value>
                            <dependencies>
<dependentValues>record</dependentValues>
<propertyName>key-format</propertyName>
                            </dependencies>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>key-record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Commit Offsets</key>
                        <value>
                            <name>Commit Offsets</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>Commit Offsets</propertyName>
                            </dependencies>
                            <name>max-uncommit-offset-wait</name>
                        </value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>
                            <name>honor-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
                            <name>kerberos-user-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <dependencies>
<dependentValues>PLAIN</dependentValues>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <dependencies>
<dependentValues>PLAIN</dependentValues>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <dependencies>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>aws.profile.name</key>
                        <value>
                            <dependencies>
<dependentValues>AWS_MSK_IAM</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>aws.profile.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>
                            <name>separate-by-key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>
                            <name>auto.offset.reset</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>
                            <name>max.poll.records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>kafka:9092</value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>metricbeat</value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>names</value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>d62a105e-57aa-32cd-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>725e8c3d-53ce-306d-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>nifi</value>
                    </entry>
                    <entry>
                        <key>output-strategy</key>
                        <value>USE_VALUE</value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>key-format</key>
                        <value>byte-array</value>
                    </entry>
                    <entry>
                        <key>key-record-reader</key>
                    </entry>
                    <entry>
                        <key>Commit Offsets</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>1 secs</value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>SASL_PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>PLAIN</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>user1</value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>aws.profile.name</key>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>latest</value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>10000</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>60 secs</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConsumeKafkaRecord_2_6</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>parse.failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6</type>
        </processors>
        <processors>
            <id>d381e5ea-4ce3-3940-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <position>
                <x>1536.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-enrich-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Geo Database File</key>
                        <value>
                            <name>Geo Database File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>geo-enrich-ip-record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>geo-enrich-ip-record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-split-found-not-found</key>
                        <value>
                            <name>geo-enrich-ip-split-found-not-found</name>
                        </value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-ip-record-path</key>
                        <value>
                            <name>geo-enrich-ip-ip-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-city-record-path</key>
                        <value>
                            <name>geo-enrich-ip-city-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-latitude-record-path</key>
                        <value>
                            <name>geo-enrich-ip-latitude-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-longitude-record-path</key>
                        <value>
                            <name>geo-enrich-ip-longitude-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-country-record-path</key>
                        <value>
                            <name>geo-enrich-ip-country-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-country-iso-record-path</key>
                        <value>
                            <name>geo-enrich-ip-country-iso-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-country-postal-record-path</key>
                        <value>
                            <name>geo-enrich-ip-country-postal-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Geo Database File</key>
                        <value>/opt/nifi/nifi-current/state/GeoLite2-City.mmdb
</value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-record-reader</key>
                        <value>d62a105e-57aa-32cd-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-record-writer</key>
                        <value>725e8c3d-53ce-306d-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-split-found-not-found</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-ip-record-path</key>
                        <value>/destination/ip</value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-city-record-path</key>
                        <value>/destination/geo/city_name</value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-latitude-record-path</key>
                        <value>/destination/geo/location/lat</value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-longitude-record-path</key>
                        <value>/destination/geo/location/lon</value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-country-record-path</key>
                        <value>/destination/geo/country_name</value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-country-iso-record-path</key>
                        <value>/destination/geo/country_iso_code</value>
                    </entry>
                    <entry>
                        <key>geo-enrich-ip-country-postal-record-path</key>
                        <value>/destination/geo/postal_code</value>
                    </entry>
                    <entry>
                        <key>Log Level</key>
                        <value>WARN</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GeoEnrichIPRecord</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>found</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>not found</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.GeoEnrichIPRecord</type>
        </processors>
        <processors>
            <id>d4e2f15a-cbb3-33bd-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <position>
                <x>272.0</x>
                <y>240.0</y>
            </position>
            <bundle>
                <artifact>nifi-elasticsearch-restapi-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>put-es-record-index-op</key>
                        <value>
                            <name>put-es-record-index-op</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>
                            <name>el-rest-fetch-index</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                        <value>
                            <name>el-rest-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp</key>
                        <value>
                            <name>put-es-record-at-timestamp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.elasticsearch.ElasticSearchClientService</identifiesControllerService>
                            <name>el-rest-client-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>put-es-record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-batch-size</key>
                        <value>
                            <name>put-es-record-batch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-id-path</key>
                        <value>
                            <name>put-es-record-id-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-id-field</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-id-path</propertyName>
                            </dependencies>
                            <name>put-es-record-retain-id-field</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-op-path</key>
                        <value>
                            <name>put-es-record-index-op-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-record-path</key>
                        <value>
                            <name>put-es-record-index-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-type-record-path</key>
                        <value>
                            <name>put-es-record-type-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-path</key>
                        <value>
                            <name>put-es-record-at-timestamp-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-at-timestamp-field</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-at-timestamp-path</propertyName>
                            </dependencies>
                            <name>put-es-record-retain-at-timestamp-field</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-script-path</key>
                        <value>
                            <name>put-es-record-script-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-scripted-upsert-path</key>
                        <value>
                            <name>put-es-record-scripted-upsert-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-dynamic-templates-path</key>
                        <value>
                            <name>put-es-record-dynamic-templates-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-date-format</key>
                        <value>
                            <name>put-es-record-at-timestamp-date-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-time-format</key>
                        <value>
                            <name>put-es-record-at-timestamp-time-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-timestamp-format</key>
                        <value>
                            <name>put-es-record-at-timestamp-timestamp-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-log-error-responses</key>
                        <value>
                            <name>put-es-record-log-error-responses</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-output-error-responses</key>
                        <value>
                            <name>put-es-output-error-responses</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-error-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>put-es-record-error-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-not_found-is-error</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-error-writer</propertyName>
                            </dependencies>
                            <name>put-es-record-not_found-is-error</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-bulk-error-groups</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-error-writer</propertyName>
                            </dependencies>
                            <name>put-es-record-bulk-error-groups</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>put-es-record-index-op</key>
                        <value>index</value>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>metricbeat</value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp</key>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>79de33e9-84e2-3ba2-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-reader</key>
                        <value>d62a105e-57aa-32cd-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-batch-size</key>
                        <value>100000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-id-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-id-field</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-op-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-index-record-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-type-record-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-at-timestamp-field</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-record-script-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-scripted-upsert-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-dynamic-templates-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-date-format</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-time-format</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-timestamp-format</key>
                    </entry>
                    <entry>
                        <key>put-es-record-log-error-responses</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-output-error-responses</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-record-error-writer</key>
                    </entry>
                    <entry>
                        <key>put-es-record-not_found-is-error</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>put-es-record-bulk-error-groups</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retriedRelationships>retry</retriedRelationships>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutElasticsearchRecord</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>errors</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
                <retry>true</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>successful_records</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchRecord</type>
        </processors>
        <processors>
            <id>e9dbb41d-d11c-3e90-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <position>
                <x>1544.0</x>
                <y>240.0</y>
            </position>
            <bundle>
                <artifact>nifi-elasticsearch-restapi-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>put-es-record-index-op</key>
                        <value>
                            <name>put-es-record-index-op</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>
                            <name>el-rest-fetch-index</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                        <value>
                            <name>el-rest-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp</key>
                        <value>
                            <name>put-es-record-at-timestamp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.elasticsearch.ElasticSearchClientService</identifiesControllerService>
                            <name>el-rest-client-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>put-es-record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-batch-size</key>
                        <value>
                            <name>put-es-record-batch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-id-path</key>
                        <value>
                            <name>put-es-record-id-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-id-field</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-id-path</propertyName>
                            </dependencies>
                            <name>put-es-record-retain-id-field</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-op-path</key>
                        <value>
                            <name>put-es-record-index-op-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-record-path</key>
                        <value>
                            <name>put-es-record-index-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-type-record-path</key>
                        <value>
                            <name>put-es-record-type-record-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-path</key>
                        <value>
                            <name>put-es-record-at-timestamp-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-at-timestamp-field</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-at-timestamp-path</propertyName>
                            </dependencies>
                            <name>put-es-record-retain-at-timestamp-field</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-script-path</key>
                        <value>
                            <name>put-es-record-script-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-scripted-upsert-path</key>
                        <value>
                            <name>put-es-record-scripted-upsert-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-dynamic-templates-path</key>
                        <value>
                            <name>put-es-record-dynamic-templates-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-date-format</key>
                        <value>
                            <name>put-es-record-at-timestamp-date-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-time-format</key>
                        <value>
                            <name>put-es-record-at-timestamp-time-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-timestamp-format</key>
                        <value>
                            <name>put-es-record-at-timestamp-timestamp-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-log-error-responses</key>
                        <value>
                            <name>put-es-record-log-error-responses</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-output-error-responses</key>
                        <value>
                            <name>put-es-output-error-responses</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-error-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>put-es-record-error-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-not_found-is-error</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-error-writer</propertyName>
                            </dependencies>
                            <name>put-es-record-not_found-is-error</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-record-bulk-error-groups</key>
                        <value>
                            <dependencies>
<propertyName>put-es-record-error-writer</propertyName>
                            </dependencies>
                            <name>put-es-record-bulk-error-groups</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>put-es-record-index-op</key>
                        <value>index</value>
                    </entry>
                    <entry>
                        <key>el-rest-fetch-index</key>
                        <value>packetbeat</value>
                    </entry>
                    <entry>
                        <key>el-rest-type</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp</key>
                    </entry>
                    <entry>
                        <key>el-rest-client-service</key>
                        <value>79de33e9-84e2-3ba2-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-reader</key>
                        <value>d62a105e-57aa-32cd-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-batch-size</key>
                        <value>100000</value>
                    </entry>
                    <entry>
                        <key>put-es-record-id-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-id-field</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-record-index-op-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-index-record-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-type-record-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-retain-at-timestamp-field</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-record-script-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-scripted-upsert-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-dynamic-templates-path</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-date-format</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-time-format</key>
                    </entry>
                    <entry>
                        <key>put-es-record-at-timestamp-timestamp-format</key>
                    </entry>
                    <entry>
                        <key>put-es-record-log-error-responses</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-output-error-responses</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-es-record-error-writer</key>
                    </entry>
                    <entry>
                        <key>put-es-record-not_found-is-error</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>put-es-record-bulk-error-groups</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retriedRelationships>retry</retriedRelationships>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutElasticsearchRecord</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>errors</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
                <retry>true</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>successful_records</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchRecord</type>
        </processors>
        <processors>
            <id>f6c970a2-a10e-355d-0000-000000000000</id>
            <parentGroupId>0ee1b75a-6a55-3099-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>456.0</y>
            </position>
            <bundle>
                <artifact>nifi-kafka-2-6-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>
                            <name>topic_type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>
                            <name>group.id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>output-strategy</key>
                        <value>
                            <name>output-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                        <value>
                            <dependencies>
<dependentValues>USE_VALUE</dependentValues>
<propertyName>output-strategy</propertyName>
                            </dependencies>
                            <name>header-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <dependencies>
<dependentValues>USE_VALUE</dependentValues>
<propertyName>output-strategy</propertyName>
                            </dependencies>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-format</key>
                        <value>
                            <dependencies>
<dependentValues>USE_WRAPPER</dependentValues>
<propertyName>output-strategy</propertyName>
                            </dependencies>
                            <name>key-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-record-reader</key>
                        <value>
                            <dependencies>
<dependentValues>record</dependentValues>
<propertyName>key-format</propertyName>
                            </dependencies>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>key-record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Commit Offsets</key>
                        <value>
                            <name>Commit Offsets</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>Commit Offsets</propertyName>
                            </dependencies>
                            <name>max-uncommit-offset-wait</name>
                        </value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>
                            <name>honor-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
                            <name>kerberos-user-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <dependencies>
<dependentValues>PLAIN</dependentValues>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <dependencies>
<dependentValues>PLAIN</dependentValues>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <dependencies>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>aws.profile.name</key>
                        <value>
                            <dependencies>
<dependentValues>AWS_MSK_IAM</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>aws.profile.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>
                            <name>separate-by-key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>
                            <name>auto.offset.reset</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>
                            <name>max.poll.records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>kafka:9092</value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>filebeat</value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>names</value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>d62a105e-57aa-32cd-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>725e8c3d-53ce-306d-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>nifi</value>
                    </entry>
                    <entry>
                        <key>output-strategy</key>
                        <value>USE_VALUE</value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>key-format</key>
                        <value>byte-array</value>
                    </entry>
                    <entry>
                        <key>key-record-reader</key>
                    </entry>
                    <entry>
                        <key>Commit Offsets</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>1 secs</value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>SASL_PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>PLAIN</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>user1</value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>aws.profile.name</key>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>latest</value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>10000</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>60 secs</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConsumeKafkaRecord_2_6</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>parse.failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6</type>
        </processors>
    </snippet>
    <timestamp>11/20/2024 01:05:48 UTC</timestamp>
</template>
